body{
	font-family: "Microsoft Yahei",Arial,Helvetica;
}
.main{
	width:960px;
	margin: 50px auto 0;
}
.code{
	border:1px dashed #e2e2e2;
	padding:10px 5px;
	margin-bottom:25px;
}
.example{
	padding-top:40px;
	margin-bottom:90px;
}
.example .call{
	padding:18px 5px;
	background:#f0f5f8;
}
.example h2{
	padding-top:20px;
	margin-bottom:7px;
}
table {
	width:100%;
	table-layout:fixed;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #cee1ee;
	border-left: 0;
}
thead {
	border-bottom: 1px solid #cee1ee;
	background-color: #e3eef8;
}
tr {
	line-height: 24px;
	font-size: 13px;
}
tr:nth-child(2n) {
	background-color: #f0f5f8;
}
tr th, tr td {
	border-left: 1px solid #cee1ee;
	word-break: break-all;
	word-wrap: break-word;
	padding-left: 10px;
	font-weight: normal;
}
tr th {
	color: #555;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
}